*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50%;
}
input{
    width: 15.625rem;
    height: 2.4375rem;
}
.ms-bg-grey{
    background-color: lightgrey;
}
ul li{
    list-style: none;
    font-size: 20px;
}
.line-done{
    text-decoration: line-through;
}